@charset "utf-8";

/*sub_visual*/
#main{
    background:url(../images/con_sub_visual.png) no-repeat;
    width:1200px;height:239px;
    position:relative;
}
#main_text{
    font:38px '나눔바른고딕';color:#fff;
    position:absolute;top:50%;left:50%;
    transform:translate(-50%,-50%);
}

/*contents*/
#conTop{margin-top:40px;}



#conL{
    float:left;
    width:305px;margin-right:0;
    padding-left:34px;
    box-sizing:border-box;
}
#conL h3{
    width:148px;height:47px;
    font:27px/47px '나눔고딕';color:#333;
    border-bottom:1px solid #949494;
    box-sizing:border-box;
}
#conL ul{width:148px;margin-top:9px;}
#conL ul li a{font:14px/34px '나눔고딕';transition:0.2s;}
#conL ul li:hover a{color:#ffa801;margin-left:5px;}
#conL ul li:first-child a{color:#ffa801;padding-left:17px;background:url(../images/list_style.png) no-repeat;}
#conL ul li:first-child a i{font-size:2px;}



#conMR_head{
    position:relative;
    width:895px;height:45px;
    border-bottom:1px solid #949494;
    box-sizing:border-box;margin-bottom:83px;
}
#conMR_head h3{
    font:30px/45px '나눔고딕';color:#333;
    margin-left:32px;
}
#conMR_head ul{
    position:absolute;right:4px;bottom:0;
}
#conMR_head ul li{
    float:left;font:11px '나눔고딕';margin-left:10px;
    
}
#conMR_head ul li:last-child{font-weight:bold;}


#conMR{float:left;width:895px;overflow:hidden;}

#conM{overflow:hidden;
    float:left;width:504px;
    margin-left:22px;
    font:14px/25px '나눔고딕';margin-bottom:110px;
}
#conM .h3{
    width:100%;height:46px;
    font:25px/46px '나눔바른고딕';color:#333;
    border-bottom:1px solid #949494;
    box-sizing:border-box;margin-bottom:7px;
}
#conM1 p{
    margin-bottom:62px;
    font:14px/24px '나눔고딕';color:#474747;
}
#conM2 p{
    margin-bottom:86px;
    font:14px/24px '나눔고딕';color:#474747;
}
#conM3 p{
    font:14px/24px '나눔고딕';color:#474747;
}
#conM3 p #span1{font:25px '나눔바른고딕';color:#000;}
#conM3 #lastP{
    height:38px;line-height:38px;
    border-top:1px solid #949494;
    box-sizing:border-box;
}
#conM3 #lastP #span2{font:15px '이순신 돋움체';}


#conR{float:left;width:80px;}


#conBot{clear:both;overflow:hidden;}
#conBot div{float:left;height:75px;}
#conBot1{margin-bottom:63px;}
#conBot2{margin-bottom:131px;}
#conBot #bot1_1,#conBot #bot2_1{margin-right:30px;}
#conBot div h4{font:bold 15px '굴림';}
#conBot #bot1_1 h4{margin-bottom:10px;}
#conBot #bot2_2 h4{margin-bottom:15px;}
#conBot div p{font:12px/19px '굴림';color:#474747;}

